flask==1.1.2
pyaml==17.12.1
wheel==0.34.2
setuptools>=41.0.0
pandas
tensorflow_hub
matplotlib
seaborn
elasticsearch
pyyaml
numpy==1.18.5
hanziconv>=0.3.2
zhon==1.1.5
rasa==2.0
rasa[convert]
rasa[spacy]

# tokenizer and other NLP toolkits
spacy
nltk

# deep learning frameworks
tensorflow
tensorflow-hub
torch==1.7.1


# BERT python library by huggingface
tensorboardX>=2.1
tqdm>=4.45.0
transformers==4.0.0

# Telegram
python-telegram-bot