
flask
pyaml
wheel
pandas
tensorflow_hub
matplotlib
seaborn
elasticsearch
pyyaml
numpy
hanziconv
zhon

# tokenizer and other NLP toolkits
spacy
nltk

# deep learning frameworks
tensorflow
tensorflow-hub
torch
torchvision
torchaudio

# BERT python library by huggingface
tensorboardX
tqdm
transformers
