flask
pyaml
wheel
pandas
matplotlib
elasticsearch
pyyaml
numpy
hanziconv
zhon
six
# pyaudio

# Google Cloud Service
google-cloud-speech
google-cloud-texttospeech

# tokenizer and other NLP toolkits
spacy
nltk

# deep learning frameworks
tensorflow
torch
torchvision
# torchaudio

# BERT python library by huggingface
tensorboardX
tqdm
transformers

python-telegram-bot

requests
Flask-RESTful
retrying
botocore
boto3
regex
pymongo
gunicorn
singleton-decorator

sqlalchemy